<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  </head>
<body>
  <div class='header'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-6 left logo'>
          <b>logo</b>
        </div>
        <div class='col-md-6 right menu'>
          <p>menu1 menu2 menu3 menu4</p>
        </div>
      </div>
    </div>
  </div>
  <div class='cta'>
    <div class='container'>
      <div class='row'>
        <form>
          <input></input>
          <input></input>
          <button>Send</button>
        </form>
      </div>
      <div class='row'>
      <div class='col-md-12'>
        <img src='landing.png'>
        <img src='landing.png'>
        <img src='landing.png'>
        <img src='landing.png'>
      </div>
    </div>
    </div>
  </div>
  <div class='about'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-12'>
          <p>About text</p>
        </div>
      </div>
    </div>
  </div>
  <div class='foursections'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-6 left'>
          <p>private limited company</p>
        </div>
        <div class='col-md-6 right'>
          <p>one person company</p>
        </div>
        <div class='col-md-6 left'>
          <p>Limited liblity company</p>
        </div>
        <div class='col-md-6 right'>
          <p>Sole proprietership</p>
        </div>
      </div>
    </div>
  </div>
  <div class='cta'>
    <div class='container'>
      <div class='row'>
        <input></input>
        <input></input>
        <button>Submit</button>
      </div>
    </div>
  </div>
  <div class='footer'>
    <div class='container'>
      <div class='row'>
        Copyright 2017 craftentity.in
      </div>
    </div>
  </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
